@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}    

body {
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-red {
    background-color: #F54748;
}

.white {
    color: #fff;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
}

.btn {
    background-color: #F54748;
    border-color: #F54748;
}

.btn:hover {
    background-color: #cc4040;
    border-color: #F54748;
}

.card-body {
    height: auto;
}

.radio {
    display: flex;
    margin-top: 30px;
}
.type {
    border-radius: 50%;
}

.imageRider {
    width: clamp(5rem, -0.8267rem + 23.3067vw, 9.37rem);
    object-fit: cover;
    user-select: none;
}

.imageMerchant {
    width: clamp(5rem, -0.8267rem + 23.3067vw, 9.37rem);
    object-fit: cover;
    user-select: none;
}

.cards {
    background-color: rgb(255, 244, 179);
    margin: 0 1rem;
    padding: 2rem;
    height: clamp(11.25rem, 5.4167rem + 23.3333vw, 15.625rem);
    width: clamp(8rem, 5rem + 12vw, 12.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
    border: .5rem solid transparent;
    transition: 200ms ease-in-out transform;
}
.checks_btn {
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: rgba(92, 92, 92, .4);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
}
.fa-check {
    color: #fff;
}
.title {
    color: #272727;
}
.title,
ul li {
    color: #1f1208;
    text-shadow: 0 0 .1rem rgba(0, 0, 0, .4);
}

.cards:hover {
    transform: scale(1.02)
}
.cards:active {
    transform: scale(.97)
}

input[id="card_one"]:checked ~ label[for="card_one"] .cards,
input[id="card_two"]:checked ~ label[for="card_two"] .cards {
    border-color:  #f17575;
}

input[id="card_one"]:checked ~ label[for="card_one"] .cards .checks_btn,
input[id="card_two"]:checked ~ label[for="card_two"] .cards .checks_btn{
    background-color: #F54748;
}

input {
    display: none;
}
