@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.main-container {
  padding-top: 30px;
  background-image: linear-gradient(#fdc55e3f, #f5474709);
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .navbar-brand span{
  font-size: clamp(0.75rem, 0.6040rem + 1.3120vw, 1.16rem);
  position:relative;
  text-decoration: none;
  color: #f54748;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
 }

.navbar-brand>img {
  width: clamp(0.140625rem, 0.5rem + 8.5500vw, 2.8125rem);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 45px;
  height: 50px;
  margin-right: 10px;
}

.logo h2 {
  font-weight: bolder;
  font-size: 20px;
  color: #f54748;
  font-family: "Montserrat", sans-serif;
}

.links a {
  margin: 18px;
  float: left;
  font-family: "Montserrat", sans-serif;
  opacity: 87%;
  color: #000;
}

.links a:hover {
  opacity: 100%;
  color: #f54748;
  text-decoration: none;
}

.log a {
  margin: 0 10px;
  float: left;
  font-family: "Montserrat", sans-serif;
  opacity: 87%;
  color: #000;
}

.log a:hover {
  opacity: 100%;
  color: #f54748;
  text-decoration: none;
}

.log a:nth-child(1) {
  padding: 10px 0;
}

.log a:nth-child(2) {
  background-color: #f54748;
  padding: 15px 40px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.partnerbtn{
  position: inherit;
  width: 10px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: block;
  flex-direction: column;
  content: 50%;
}

.carousel-indicators [data-bs-target]{
  background-color: #f54748 !important;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.c-item {
  height: 75vh;
}


.content span {
  color: #f54748;
  opacity: 100%;
}

.content h1 {
  font-size: clamp(2rem, 1.0938rem + 4.0278vw, 4rem);
  color: #363636;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.content p {
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  margin-bottom: 35px;
  font-weight: medium;
}

.content a {
  background-color: #f54748;
  padding: 16px 20px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.content a:hover {
  color: #fff;
  text-decoration: none;
}

.image img {
  width: clamp(22.5rem, -4.8214rem + 48.5714vw, 27rem);
}

.imageOne img{
  width: clamp(22.5rem, -4.8214rem + 48.5714vw, 43rem);
}

.imageTwo img{
  width: clamp(22.5rem, -4.8214rem + 48.5714vw, 35rem);
}

.image {
  width: 50%;
}

.imageOne{
  width: 50%;
}

.imageTwo{
  width: 50%;
}

.section-2 {
  width: 75%;
  margin: 0 auto;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.service img {
  width:300px;
  height: 265px;
}

.rider,
.market,
.phone {
  width: 30%;
  margin: auto;
  text-align: center;
}

.rider h3,
.market h3,
.phone h3 {
  font-size: 18px;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.rider p,
.market p,
.phone p {
  width: 50%;
  margin: 10px auto;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}


.rider a,
.market a,
.phone a {
  opacity: 80%;
  color: #f54748;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.rider a:hover,
.market a:hover,
.phone a:hover {
  color: #ff0000;
  text-decoration: none;
}

.info-section {
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.image2 img {
  width: clamp(18.75rem, 14.0625rem + 20.8333vw, 37.5rem);
}

.delivery {
  width: 50%;
  text-align: center;
}

.delivery h3 {
  width: 65%;
  margin: 30px auto;
  font-size: clamp(1rem, -0.9853rem + 3.5294vw, 1.75rem);
  font-family: "Montserrat", sans-serif;
  color: #333131;
  line-height: 35px;
  font-weight: bold;
  opacity: 85%;
}

.delivery p {
  width: 65%;
  margin: 0 auto;
  font-size: clamp(0.8rem, 0.2706rem + 0.9412vw, 1rem);
  font-family: "Montserrat", sans-serif;
  opacity: 75%;
  line-height: 25px;
  text-align: justify;
}

/* CAROUSEL */

.container {
  padding-top: 50px;
}

.container h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000;
  opacity: 75%;
  font-weight: bold;
  font-size: 30px;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.copy {
  padding-top: 250px;
}

.slick-prev::before,
.slick-next::before {
  color: #f54748 !important;
}

/* CAROUSEL END */
/* ACCORDION */
.container2 {
  width: 60%;
  margin: 100px auto;
}

.container2 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000;
  opacity: 75%;
  font-weight: bold;
  font-size: 30px;
}

.accor-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.accor-title p {
  color: #f54748;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 10px;
}

.cont p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 10px;
  opacity: 80%;
}

.wrapper {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 50, 0.2);
}

.toggle,
.content {
  font-family: "Poppins", sans-serif;
}

.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: #111130;
  font-weight: 500;
  opacity: 75%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
}

.toggle:focus {
  outline: none;
}

.cont {
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

/* FOOTER */

.footer {
  background-color: #f54748;
}

.footer-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  padding: 70px 0;
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  width: 130px;
  height: 60px;
}

.iccon:link {
  text-decoration: none;
}

.footer-content h2 {
  font-size: 20px;
}

.footer-content h1 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.footer-content p {
  font-size: 18px;
}

.dark-footer {
  background-color: #d03838;
  overflow-x: hidden;
}

.dark-content {
  width: 60%;
  margin: 0 auto;
  font-size: clamp(0.7rem, 0.5000rem + 0.8000vw, 1rem);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.join a {
  color: #ffffff;
  text-decoration: none;
}

.join a:hover {
  color: #FEEECB;
}

.company a {
  color: #ffffff;
  text-decoration: none;
}

.company a:hover {
  color: #FEEECB;
}

/* END FOOTER*/

@media (max-width:1900px){
  .service img {
    width:300px;
    height: 265px;
  }
}

@media (max-width:1150px){
  .service img {
    width:290px;
    height: 255px;
  }
} 

@media (max-width:900px){

  .c-item {
    height: 50vh;
  }

  .service img {
    width: clamp(13.75rem, 18.8542rem + -12.9630vw, 11.5625rem);
  }

  .section-2 {
    width: 75%;
  }

  .content-wrap {
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: linear-gradient(#fdc55e3f, #f5474709);
  }

  .rider,
  .market,
  .phone {
    width: 40%;
    margin: auto;
    text-align: center;
  }
  
  .rider h3,
  .market h3,
  .phone h3 {
    font-size: 1rem;
    opacity: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  
  .rider p,
  .market p,
  .phone p {
    width: 70%;
    margin: 0px auto;
    opacity: 80%;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
  }
  
  .rider a,
  .market a,
  .phone a {
    opacity: 80%;
    color: #f54748;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

  .info-section {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .delivery {
    width: 80%;
    text-align: center;
  }
  
  .delivery h3 {
    width: 65%;
    margin: 30px auto;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    color: #333131;
    line-height: 35px;
    font-weight: bold;
    opacity: 85%;
  }
  
  .delivery p {
    width: 75%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    opacity: 75%;
    line-height: 25px;
    text-align: justify;  
  }
}


@media (max-width:767px){
  .image img {
    display: none;
  }
  .imageOne img{
     display: none;
  }
  .imageTwo img{
    display: none;
  }
  .image {
    display: none;
  }

  .imageOne{
    display:none;
  }

  .imageTwo{
    display: none;
  }
  .content {
    content: 100%;
  }
  .delivery p {
    width: 85%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    opacity: 75%;
    line-height: 25px;
    text-align: justify;  
  }
  
  .px-5 {
    padding-left: (0 * .3) !important;
    padding-right: (0 * .3) !important;
  }

  .mx-5 {
    margin-left: (0 * .3) !important;
    margin-right: (0 * .3) !important;
  }

  .section-2 {
    width: 90%;
  }

  .section {
    width: 100%;
    margin: 20px auto;
  }
  
  .service {
    flex-direction: column;
  }

  .service img {
    width: clamp(15.625rem, 4.6094rem + 37.5000vw, 19.375rem);
  }
  
  .rider,
  .market,
  .phone {
    width: 70%;
  }

  .phone {
    padding-bottom: 40px;
  }

  .slick-slide img {
    width: 100%;
  }
  
  
  .rider h3,
  .market h3,
  .phone h3 {
    font-size: 24px;
  }
  
  .rider p,
  .market p,
  .phone p {
    width:60%;
    line-height: 25px;
  }

  .info-section {
    width: 100%;
    margin: 0px auto;
  }
}

@media (max-width:470px){
  .delivery p {
    width: 85%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    opacity: 75%;
    line-height: 25px;
    text-align: justify;  
  }
  
  .service img {
    width:250px;
    height: 215px;
  }
  
  .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer-content {
    width: 60%;
    margin: 0 auto;
    flex: column;
    justify-content: space-between;
    color: #fff;
    padding: 70px 0;
  }

  .slick-slide img {
    width: 100%;
  }
  
  .container2 {
    width: 80%;
  }

}