@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.form-container {
    position: relative;
    top: 5vh;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 50, 0.2);
}



.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    width: 60px;
    height: 70px;
}

.title h2 {
    font-weight: bolder;
    font-size: 23px;
    color: #F54748;
    font-family: 'Montserrat',
        sans-serif;
}

.form-group label {
    color: #F54748;
    font-size: 13px;
    font-family: 'Montserrat',
        sans-serif;
    padding: 10px 0;
}

.form-group input {
    background-color: #fbeaea;
    outline: none;
    border: 1px solid #f9afaf;
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
}

.content a {
    text-align: right;
    color: #d68f0b;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    padding: 20px 0;
}

.content h2 {
    text-align: center;

}

button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    background: #F54748;
    border-radius: 5px;
    border: none;
    display: block;
    outline: none;
}

.login {
    color: #fff;
    outline: none;
    background-color: #F54748;
    border: 1px solid #F54748;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

span {
    padding: 0.5rem;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
}

.sign {
    color: #000;
    outline: none;
    border: 1px solid #000;
    background-color: #FFF7E9;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 90%;
}

h3 {
    text-align: center;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 15px;
}

.bottom {
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
}

.bottom p {
    color: #000;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
}

.bottom a {
    color: #F54748;
    margin: 0 7px;
    text-align: right;
}

.alert {
    background-color: #f5474728;
    padding: 2rem 1rem;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 600;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    margin: 1rem 0;

}

@media only screen and (max-width: 320px) {
    .bottom p {
        font-size: 12px;
    }
    
    .bottom a {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 280px) {
    .bottom p {
        font-size: 9px;
    }
    
    .bottom a {
        margin: 0 5px;
        font-size: 12px;
    }
}