@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.clear {
    clear: both;
}

.container-scroller {
  display: flex;
  position: relative;
}

.sign-form {
  transition: width 0.25s ease, margin 0.25s ease;
  width: 100%;
  min-height: calc(100vh - 70px);
  padding-top: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .sign-form {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: #f9f9f9;
  padding: 1.875rem 1.75rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/** Side  **/

.sidebar {
  min-height: calc(150vh - 70px);
  background-image: url(../image/red2.png);
  font-weight: normal;
  padding: 0;
  width: 380px;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}

.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 60px;
  padding-top: 30px;
}

.sidebar .nav .nav-item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  padding-right: 20px;
}

.sidebar .nav .nav-item .collapse {
  z-index: 999;
}

.sidebar .nav .nav-item .nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.8rem 10px 0.8rem 1.188rem;
}

.sidebar .nav .nav-item.back .back-logo h5 {
  margin-top: 0.5rem;
  padding-left: 10px;
  white-space: nowrap;
}

.sidebar .nav .nav-item.back .back-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidebar .nav .nav-item.back .back-logo img {
  margin-top: 0.5rem;
  width: 40px;
}

.sidebar .nav .nav-item.nav-category {
  font-weight: 600;
  font-size: 20px;
  padding: 0.5rem 1.188rem;
  line-height: 2;
  text-align: center;
}

.sidebar .nav .nav-item.nav-category .nav-link {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  padding-left: 0;
}

/* Off Canvas Side */

@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -400px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    padding-top:0;
  }

  .sidebar-offcanvas.active {
    right: 0;
  }
}

ul {
    list-style: none;
}

ul h1 {
    font-weight: 800;
    font-family: 'Montserrat',
        sans-serif;
    color: #fff;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

li {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    opacity: 90%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 15px;
    padding: 20px 0 20px 20px;
}

.red {
    color: #F54748;
    background-color: #fff;
    border-radius: 20px;
}

.right {
    margin: 4rem auto;
}

.right h2 {
    color: #F54748;
    opacity: 90%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 24px;
    opacity: 90%;
    font-weight: 600;
    padding-bottom: 15px;
}

.right p {
    font-size: 14px;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    color: #000;
    opacity: 70%;
}

.form-group .btn {
    border-radius: 20px;
}

.center {
    margin: auto;
    padding: 5px;
}

.center h2 {
    color: #F54748;
    opacity: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}

.center p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    opacity: 90%;
    font-weight: 600;
    color: #000;
    opacity: 70%;
    text-align: center;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}