@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 70px;
    --first-color: #F54748;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.requirements span {
    font-size: 13px;
    font-family: 'Montserrat',
        sans-serif;
    opacity: 90%;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
    margin-top: 0.5rem;
}

.requirements {
    margin: 1rem 0;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.header_title {
    opacity: 70%;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-image: url(../image/red2.png);
    padding: 0.5rem .6rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius: 2px;
}

.nav_linknumber {
    width: 21px;
    padding-left: 4px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 2rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 600;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: .2rem;
    transition: 0.3s;
}


.nav_icon {
    font-size: 1.25rem;
}

.showw {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + .5rem);
}

.active {
    color: var(--white-color);
}

.height-100 {
    height: 100vh;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .showw {
        width: calc(var(--nav-width) + 210px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 218px);
    }
}

.red {
    color: #F54748;
    background-color: #fff;
}


.title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

h3 {
    font-weight: 600;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
    color: #000;
    opacity: 90%;
}

h2 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #F54748;
    opacity: 90%;
}

p {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 70%;
    line-height: 23px;
    text-align: justify;
}

.notice {
    color: #F54748;
    font-size: 18px;
}

.content-wrapper {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* END SIDE BAR */
.right {
    margin: 2rem auto;
}

.right h2 {
    color: #F54748;
    opacity: 90%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 24px;
    opacity: 90%;
    font-weight: 600;
    padding-bottom: 15px;
}

.right p {
    font-size: 14px;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    color: #000;
    opacity: 70%;
    line-height: 20px;
}

.form-group label {
    padding: 3px;
    margin: 6px;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 600;
}

.button {
    width: 50%;
}


.otp_input input {
    width: 20%;
    height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.veri:link,
.veri:visited {
    padding-top: 10px;
    color: #F54748;
    text-decoration: none;
}

.veri:hover {
    color: #af3636;
    opacity: 80%;
}

/*CODE*/
.code-container {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.code {
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #030303b2;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    /* width: 75px; */
    width: clamp(2.5rem, 1.5278rem + 3.8889vw, 4.6rem);
    /* height: 80px; */
    height: clamp(2.5rem, 1.3889rem + 4.4444vw, 5rem);
    margin: 8px;
    text-align: center;
    font-weight: 300;
    /* font-size: 24px;
      height: 50px;
      max-width: 50px;
      font-size: bold; */
}

@media (max-width: 600px) {
    .code-container {
        flex-wrap: wrap;
    }

    .code {
        font-size: 24px;
        height: 50px;
        max-width: 50px;
        font-size: bold;
    }

    button {
        width: 100%;
    }
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.code:valid {
    border-color: #c26161;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

/*TOAST*/
.alert {
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: #ffc766;
}

.alert .close-btn .fas {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

.modal-header {
    background-color: #F54748;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 10px;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.red-btn {
    background: #F54748;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.red-btn:hover {
    background: #a53030;
    color: #fff;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.white-btn {
    background: #fff;
    border: 1px #00000069 solid;
    padding: 10px 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.795);
}

.modal-header .close {
    color: #fff;
    padding: 1rem 1rem;
    margin: -25px -26px -25px auto;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    color: #00000017;
    text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

/* Tagsinput */
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    padding: 0em 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.label-info {
    color: #333;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;

}

.bootstrap-tagsinput>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bootstrap-tagsinput ul li {
    margin: 0.5em 0.2em;
    padding: 0.5em;
    color: #fff;
    background-color: #1e87f0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.bootstrap-tagsinput ul li a {
    margin: 0.5em 0.2em;
    text-decoration: none;
    color: inherit;
}

.bootstrap-tagsinput input {
    padding: 0.9em 0.5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* // Stepper */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #ff7931;
}
.done {
    background-color: var(--prm-color);
    color: #ff7931;
}
.step-item {
    z-index: 10;
    text-align: center;
}
#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);

}
