@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.header {
  padding-top: 30px;
  background-image: linear-gradient(#fdc55e28, #fdc55e00);
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 45px;
  height: 50px;
  margin-right: 10px;
}

.logo h2 {
  font-weight: bolder;
  font-size: 20px;
  color: #f54748;
  font-family: "Montserrat", sans-serif;
}

.links a {
  margin: 18px;
  float: left;
  font-family: "Montserrat", sans-serif;
  opacity: 87%;
  color: #000;
}

.links a:hover {
  opacity: 100%;
  color: #f54748;
  text-decoration: none;
}

.log a {
  margin: 0 10px;
  float: left;
  font-family: "Montserrat", sans-serif;
  opacity: 87%;
  color: #000;
}

.log a:hover {
  opacity: 100%;
  color: #f54748;
  text-decoration: none;
}

.log a:nth-child(1) {
  padding: 10px 0;
}

.log a:nth-child(2) {
  background-color: #f54748;
  padding: 15px 40px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.section {
  width: 70%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  margin-top: 40px;
}

.content span {
  color: #f54748;
  opacity: 100%;
}

.content h1 {
  font-size: clamp(2rem, 1.0938rem + 4.0278vw, 5.625rem);
  color: #363636;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.content p {
  width: 65%;
  opacity: 70%;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  margin-bottom: 35px;
  font-weight: medium;
}

.content a {
  background-color: #f54748;
  padding: 16px 40px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.content a:hover {
  color: #fff;
  text-decoration: none;
}

.image img {
  width: clamp(22.5rem, -4.8214rem + 48.5714vw, 43.75rem);
}

.section-3 {
  width: 75%;
  margin: 0 auto;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.service img {
  width: clamp(13.75rem, 18.8542rem + -12.9630vw, 11.5625rem);
}

.rider,
.market,
.phone {
  width: 30%;
  margin: auto;
  text-align: center;
}

.rider h3,
.market h3,
.phone h3 {
  font-size: 18px;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.rider p,
.market p,
.phone p {
  width: 50%;
  margin: 20px auto;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}

.rider a,
.market a,
.phone a {
  opacity: 80%;
  color: #f54748;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.rider a:hover,
.market a:hover,
.phone a:hover {
  color: #ff0000;
  text-decoration: none;
}

.info-section {
  width: 70%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.image2 img {
  width: 630px;
  height: 450px;
}

.delivery {
  width: 50%;
  text-align: center;
}

.delivery h3 {
  width: 45%;
  margin: 30px auto;
  font-family: "Montserrat", sans-serif;
  color: #333131;
  line-height: 35px;
  font-weight: bold;
  opacity: 85%;
}

.delivery p {
  width: 65%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  opacity: 75%;
  line-height: 25px;
  text-align: left;
}

/* CHANGE DIV */
.change {
  margin-top: 200px;
}

.change-title h2 {
  font-size: 22px;
  width: 68%;
  margin: 50px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.section-2 img {
  width: 50%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.171);
}

.section-2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  padding-left: 1rem;
}

.wrapper .radio_tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  font-size: 20px;
  display: flex;
}

.wrapper .radio_tabs label {
  margin-right: 15px;
  display: flex;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
}

.wrapper .radio_tabs .radio_mark:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: url("https://i.imgur.com/3OGSx5M.png.png") no-repeat 0 0;
  width: 22px;
  height: 22px;
  padding: 10px;
}

.wrapper .radio_tabs label .input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark {
  color: #ff5d66;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark:before {
  background-position: 0 -23px;
  width: 22px;
  height: 22px;
}

.wrapper .content {
  width: 100%;
  height: 70vh;
  border-radius: 5px;
}

.wrapper .content p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}

.requirements {
  width: 100%;
}

.requirements h2 {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.822);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 32px;
  width: 80%;
}

.requirements p {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.925);
  padding-bottom: 5px;
  line-height: 28px;
  width: 100%;
  font-weight: 600;
}

.requirements h3 {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.932);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.square {
  list-style-type: square;
  padding-left: 45px;
  font-size: 17px;
}

.square li {
  padding: 3px;
}

.indent {
  list-style-type: circle;
  padding: 1px 0 0 30px;
}

/* END CHANGE DIV */

/* ACCORDION */
.container2 {
  width: 60%;
  margin: 100px auto;
}

.container2 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000;
  opacity: 75%;
  font-weight: bold;
  font-size: 30px;
}

.accor-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.accor-title p {
  color: #f54748;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 10px;
}

.cont p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 10px;
  opacity: 80%;
}

.wrappers {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 50, 0.2);
}

.toggle,
.content {
  font-family: "Poppins", sans-serif;
}

.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: #111130;
  font-weight: 500;
  opacity: 75%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
}

.toggle:focus {
  outline: none;
}

.cont {
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

/* TIMELINE */
.timeline {
  width: 90%;
  margin: 8rem auto;
}
.timeline-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.timeline-title p {
  width: 100%;
  text-align: left;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.822);
  font-size: 16px;
}
.timeline-image {
  display: flex;
  flex-direction: column;
}
.timeline-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timeline-section img {
  height: 195px;
  width: 320px;
  background-color: black;
  margin: 20px 0;
  border-radius: 15px;
}

.timeline ul {
  height: auto;
  border: 0px solid #111;
  padding: 10px;
  position: relative;
  list-style: none;
  width: 85%;
  margin: 0 auto;
}
.timeline ul li {
  padding-bottom: 80px;
}
.timeline ul li p {
  width: 90%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.822);
}
.timeline ul:before {
  content: "";
  position: absolute;
  width: 1px;
  background: #000000;
  height: 75%;
  left: 0px;
  top: 30px;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #ff5252;
  left: -5px;
  margin-top: 10px;
  list-style-type: square;
}
.timeline ul li div {
  padding: 5px 0 0 0;
  padding-bottom: 50px;
  margin-left: 50px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 15px 15px -10px #ffffff;
}
.timeline ul li div h1 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.timeline ul li div:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 15px;
}

/* END TIMELINE */

.end {
  margin-top: 5rem;
  background-image: url(../image/bgmotor.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.end-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.end-content {
  margin-bottom: 1rem;
}
.end-content h2 {
  color: rgba(0, 0, 0, 0.863);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
.end-content p {
  width: 45%;
  color: rgba(0, 0, 0, 0.74);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 20px 0;
}
.end-content a {
  background-color: #f54748;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}

/* FOOTER */

.footer {
  background-color: #f54748;
}

.footer-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  padding: 70px 0;
}

.icon img {
  width: 130px;
  height: 60px;
}

.footer-content h2 {
  font-size: 20px;
}

.footer-content h1 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.footer-content p {
  font-size: 18px;
}

.dark-footer {
  background-color: #d03838;
  overflow-x: hidden;
}

.dark-content {
  width: 60%;
  margin: 0 auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* END FOOTER*/

/* Media Queries */


@media (max-width:1900px){
  .service img {
    width:300px;
    height: 265px;
  }
}

@media (max-width:1150px){
  .service img {
    width:290px;
    height: 255px;
  }
} 

@media (max-width:900px){
  .image img {
    display: none;
  }

  .service img {
    width: clamp(13.75rem, 18.8542rem + -12.9630vw, 11.5625rem);
  }

  .section-3 {
    width: 75%;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: linear-gradient(#fdc55e3f, #f5474709);
  }

  .rider,
  .market,
  .phone {
    width: 40%;
    margin: auto;
    text-align: center;
  }
  
  .rider h3,
  .market h3,
  .phone h3 {
    font-size: 1rem;
    opacity: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  
  .rider p,
  .market p,
  .phone p {
    width: 70%;
    margin: 0px auto;
    opacity: 80%;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
  }
  
  .rider a,
  .market a,
  .phone a {
    opacity: 80%;
    color: #f54748;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

  .change {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section-2 {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .section-2 img {
    align-self: center;
  }
  
  .timeline-title {
   padding-top: 9rem;
   display: flex;
   flex-direction: column;
   text-align: left;
  }

  .timeline-section{
    display: flex;
    flex-direction: column;
  }

  .timeline-image img {
   width: 200px;
  }

  .timeline-content {
    
  }
}

@media (max-width:630px){

  .section-3 {
    width: 90%;
  }

  .section {
    width: 70%;
    margin: 20px auto;
  }
  
  .service {
    flex-direction: column;
  }

  .service img {
    width: clamp(15.625rem, 4.6094rem + 37.5000vw, 19.375rem);
  }
  
  .rider,
  .market,
  .phone {
    width: 70%;
  }

  .phone {
    padding-bottom: 40px;
  }
  
  .rider h3,
  .market h3,
  .phone h3 {
    font-size: 24px;
  }
  
  .rider p,
  .market p,
  .phone p {
    width:60%;
    line-height: 25px;
  }

  .section-2 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:470px){
  

  .service img {
    width:250px;
    height: 215px;
  }
  
  .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer-content {
    width: 60%;
    margin: 0 auto;
    flex: content;
    justify-content: space-between;
    color: #fff;
    padding: 70px 0;
  }
  
    .change {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section-2 {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .section-2 img {
    align-self: center;
  }
  
  .timeline-title {
   padding-top: 9rem;
   display: flex;
   flex-direction: column;
   text-align: left;
  }
  
  .container2 {
    width: 90%;
    margin: 100px auto;
    padding: 10px;
  }
  
 
}


@media (max-width:375px){
  

  .service img {
    width:250px;
    height: 215px;
  }
  
  .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer-content {
    width: 60%;
    margin: 0 auto;
    flex: content;
    justify-content: space-between;
    color: #fff;
    padding: 70px 0;
  }
  
    .change {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section-2 {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .section-2 img {
    align-self: center;
  }
  
  .timeline-title {
   padding-top: 20rem;
   display: flex;
   flex-direction: column;
   text-align: left;
  }
  
  .container2 {
    width: 90%;
    margin: 100px auto;
    padding: 10px;
  }
  
 
}