@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.form-container {
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    width:300px;
}

.row {
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    width: 65px;
    height: 50px;
    padding-bottom: 10px;
  
}

.title h2 {
    font-weight: 900;
    font-size: 20px;
    color: #F54748;
    font-family: 'Montserrat',sans-serif;
    padding-right: 15px;
}

.form-group label {
    color: #F54748;
    font-size: 13px;
    font-family: 'Montserrat',sans-serif;
    padding: 10px 0;
}

.form-group input {
    background-color: #fbeaea;
    outline: none;
    border: 1px solid #f9afaf;
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
}

.eye {
    position: absolute;
    right: 37px;
    transform: translate(0,-50%);
    top: 72%;

}
 
#hide1 {
    display: none;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    background: #F54748;
    border-radius: 5px;
    border: none;
    display: block;
    outline: none;
}



