@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #fff;
    width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: auto;
}

.left {
    width: 20%;
    height: 100vh;
    float: left;
    background-image: url(../image/red2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;

}

.left-content {
    width: 80%;
    margin: 2rem auto;
}

.back {
    display: flex;
    flex-direction: row;
    margin: 40px 0 10px 0;
}

.back img {
    width: 30px;
    height: 20px;

}

.back p {
    font-weight: 600;
    font-family: 'Montserrat',
        sans-serif;
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 0;
}

.logo img {
    width: 55px;
    height: 55px;
}

.logo h2 {
    font-weight: 700;
    font-family: 'Montserrat',
        sans-serif;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    padding-left: 4px;
}

ul h1 {
    font-weight: 800;
    font-family: 'Montserrat',
        sans-serif;
    color: #fff;
    font-size: 28px;
    letter-spacing: 1px;
    padding: 20px 0 20px 0;
}

li {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    opacity: 90%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 15px;
    padding: 20px 0 20px 20px;
}

.red {
    color: #F54748;
    background-color: #fff;
    border-radius: 20px;
}

.right {
    width: 80%;
    float: right;
}

.right-content {
    width: 90%;
    margin: 6rem auto;
    overflow: auto;
}

.right-content h2 {
    color: #F54748;
    opacity: 90%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 24px;
    opacity: 90%;
    font-weight: 600;
    padding-bottom: 15px;
}

.right-content p {
    font-size: 14px;
    font-family: 'Montserrat',
        sans-serif;
    opacity: 90%;
    font-weight: 600;
    color: #000;
    opacity: 70%;
}

.form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

label {
    padding: 20px 0 10px 0;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 600;
}

.form-container input[type=text] {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #8e92969a;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
    font-size: 15px;
    outline: none;
}

.form-container select {
    border-radius: 10px;
    border: 1px solid #8e92969a;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
    font-size: 15px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat;
    background-position: right 5px top;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 14px 20px
}

.form-container input[type=text]:focus,
select:focus {
    border: 1px solid #ff0000;
}

a:link {
    opacity: 60%;
    color: #F54748;
}