@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  background-color: #fff;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.header {
  padding-top: 30px;
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-container{
  background-image: linear-gradient(#fdc55e3f, #f5474709);
}


nav .navbar-brand span{
  font-size: clamp(0.75rem, 0.5040rem + 1.3120vw, 1.16rem);
  position:relative;
  text-decoration: none;
  color: #f54748;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand>img {
  width: clamp(0.140625rem, -1.4625rem + 8.5500vw, 2.8125rem);
}

h1 {
  font-weight: 400;
  color: #363636;
  font-family: "Montserrat", sans-serif;
}

.terms-box{
  max-width: 800px;
  color: #d03838;
  font-family: "Montserrat", sans-serif;
  padding: 60px 30px;
  margin: auto;
}

.terms-text {
  padding: 0 20px;
  height: 1350px;
  overflow-y: auto;
  font-size: 12px;
  font-weight: 500;
  color: #d03838;
}
.terms-text h3 {
  text-transform: uppercase;
}

.terms-box h4 {
  font-size: 15px;
  text-align: auto;
  padding: 0 5px;
}

.terms-box h4 span {
  color: #d8900a;
}

/* FOOTER */

.footer {
  background-color: #f54748;
}

.footer-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  padding: 70px 0;
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon img {
  width: 130px;
  height: 60px;
}

.footer-content h2 {
  font-size: 20px;
}

.footer-content h1 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.footer-content p {
  font-size: 18px;
}

.dark-footer {
  background-color: #d03838;
  overflow-x: hidden;
}

.dark-content {
  width: 60%;
  margin: 0 auto;
  font-size: clamp(0.7rem, 0.5000rem + 0.8000vw, 1rem);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* END OF FOOTER */


@media (max-width:1000px){
  .timeline {
    width:70%
  }
  .terms-box{
    margin-left: 10%;
    width: 80%;
  }
  .terms-text{
    height: 2050px;
  }
}

@media (max-width:400px){
  .timeline {
    width:100%
  }
}
